<!doctype html>
<html>
  <head>
    <title>Styleguide: <%= title %></title>

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="../styles/styleguide.css">

    <!-- Source CSS -->
    <% if @config['css_include'].to_s.strip.length != 0 %>
    <% @config['css_include'].each do |css| %>
    <link rel="stylesheet" href="<%= css %>">
    <% end %>
    <% end %>
  </head>
  <body>
    <header class="header pbn" role="banner">
      <div class="backgroundHighlight typeReversed1">
        <div class="container">
          <h1 class="h2 mvs">Styleguide</h1>
        </div>
      </div>
      <div class="backgroundLowlight typeReversed1">
        <div class="container">
          <span>
            <ul class="docNav listInline">
              <% @categories.each do |category, file_name| %>
              <li><a href="<%= file_name %>"><%= category %></a></li>
              <% end %>
            </ul>
          </span>
        </div>
      </div>
    </header>
    <div class="content">
      <section>
        <div class="line">
          <div class="col cols20 lastCol">
            <div class="box boxBasic backgroundBasic">
              <div class="boxBody pan">
                <ul class="componentList">
                  <% @blocks.each do |b| %>
                  <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <br>
          <div class="main col cols20 lastCol">
